body {
    background-color: black;
    color: white;
    font-family: a;
}

img {
    height: 20vh;
    margin: 0 4vw;
}

.cpu-hand,
.player-hand {
    display: flex;
    justify-content: center;
    height: 21vh;
}

header,
.center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(5, 155, 5);
    width: 60vw;
}

.player,
.cpu,
.judge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 20vw;
}

.deck {
    height: 30vh;
    width: 20vw;
}

.score-zone {
    width: 20vw;
    height: 10vh
}

.btn-zone {
    width: 20vw;
}

.start {
    margin: 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}




.field-card {
    width: 10vw;
}

.hand-card,
.field-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.remaining-card {
    display: flex;
}

.remaining-card img {
    height: 8vh;
    width: auto;
}

button {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
}

.online {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.online button {
    width: 100px;
}

.join-room {
    display: flex;
    flex-direction: column;
    width: 100px;
}