body {
    background-color: black;
    color: white;
    font-family: a;
}

img {
    height: 20vmin;
    margin: 0 4vmin;
}

.cpu-hand,
.player-hand {
    display: flex;
    justify-content: center;
    height: 21vmin;
}

header,
.center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header{
    height: 20vh;
}

.player-hand,.cpu-hand{
    height: 18vh;
}

.center{
    height: 40vh;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(5, 155, 5);
    height: 90%;
    width: 60vmin;
}

.player,
.cpu,
.judge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vmin;
    width: 20vmin;
}

.deck {
    height: 30vmin;
    width: 20vmin;
}

.score-zone {
    width: 20vmin;
    height: 10vmin
}

.btn-zone {
    width: 20vmin;
}

.start {
    margin: 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}




.field-card {
    width: 10vmin;
}

.hand-card,
.field-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vmin;
}

.remaining-card {
    display: flex;
}

.remaining-card img {
    height: 8vmin;
    width: auto;
}

button {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
}

.online {
    width: 60vmin;
    display: flex;
    justify-content: space-around;
}

.online button {
    width: 100px;
}

.join-room {
    display: flex;
    flex-direction: column;
    width: 100px;
}

#room-id,#next{
    color: black;
    background-color: white;
    width: 100%;
    display: block;
    text-align: center;
}

.start a{
    color: white;
}